<!DOCTYPE html>
<html>
<head>
  <title>Hycp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
	<header>
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
						<div class="btn-group btn-group-justified">
							<%= link_to "Home", '/', class: "btn btn-primary" %>
							<%= link_to "Gallery", gallery_path, class: "btn btn-primary"%>
							<%= link_to "Blog", blog_path, class: "btn btn-primary"%>
							<%= link_to "Contact", contact_path, class: "btn btn-primary" %>
						</div>
				</div>
			</div>
		</div>	
		
	</header>
	

</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>
<footer>
	<% if current_admin %>
	 <%= link_to 'logout', destroy_admin_session_path, method: :delete %>
	<% end %>
</footer>
</body>
</html>
