
<% @posts.each do |post| %>
<ul>
<li><%= post.title %></br>
<%= post.post %></li>
 	<% if current_admin %>
		 <%= link_to 'Delete', destroy_path(post), method: :delete, data:{ deletable: true} %>
		 <%= link_to 'Edit', edit_path(post) %>

    <% end%>




	<div id="comments">
		<%= post.comments.count %> comments
		<div>
			<% post.comments.each do |comment| %>
				<%= comment.body %><br>
				<%= comment.name %>
		</div>
		
		<% end %>
	</div>

</ul>
<%= render partial: 'comment/new', locals: { post: post, comment: @comment } %>

<% end %>

